@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';


.board {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include breakpoint-small-screen {
        width: 70%;
        max-width: 950px;
        
    }

    .board-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0 10px;
        align-items: center;
    
        thead {
            text-align: left;
        }
    
        thead tr {
            background-color: $color-red;
            border-bottom: 2px solid $color-white;
        }
    
        thead th {
            color:$color-white;
        }
    
        th, td {
            padding: 10px 5px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            font-size: 0.9rem;
            @include breakpoint-small-screen {
                font-size: 1.2rem;
            }
        }
    
        tbody tr {
            background-color: $color-white;
        }
    
        tbody tr:nth-child(2n+1) {
            background-color: $color-grey;
        }
    }
    
        .flag-td {
        display: flex;
        width: 50px;
        align-items: center;
    } 
    
    .pagination-controls {
        display: flex;
        justify-content: center;
        gap : 5px;
        margin-top: 20px;
    }
}

