@import '../../styles/variables.scss';

.button {
    width: clamp(120px, 30%, 200px);
    border: none;
    border-radius: 5px;
    color: $color-white;
    cursor: pointer;
    text-align: center;
}

.button.black {
    background-color: $color-black;
}

.button.white {
    background-color: $color-white;
}

.button.red {
    background-color: $color-red;
}