@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.container { 
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: $color-grey;
    border-radius: 10px;
    padding: 15px;
    @include breakpoint-small-screen {
        height: 100%;
    }

    .icon { //Place the icon relative to the container
        position:absolute;
        right: 15px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: all 100ms ease-out;
        @include breakpoint-small-screen {
            font-size: 1.6rem;
        }
        &:hover {
            color: $color-black-hover;
        }
    }

    &__header {
        display: flex;
        justify-content: center;

        i {
            cursor: pointer;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 15px;
        height: 75%;
        @include breakpoint-phone {
            grid-template-columns: 1fr 1fr 1fr;
        }
        


        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}