
//Colors
$color-red: #E73725;
$color-black: #010000;
$color-white: #ffffff;
$color-grey: #E1E1E1;
$color-blue: #086788;

//Colors when hovered
$color-red-hover: #CC2E1C;
$color-black-hover: #1a1a1a;
$color-white-hover: #f2f2f2;
$color-grey-hover: #cccccc;
$color-blue-hover: #06506e;

