@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.score {
    border-top: 1px solid $color-grey;
    padding-top: 20px;

    form {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;

        .input {
            width: 100px;
            padding: 5px 5px;
            border: none;
            border-radius: 5px;
            background-color: $color-grey;
            text-align: left;
            &::placeholder {
                text-align: right;
            }
        }

        .input-time {
            width: 40px;
            padding: 5px 5px;
            border: none;
            border-radius: 5px;
            background-color: $color-grey;
            text-align: left;
            &::placeholder {
                text-align: right;
            }
        }

        .value {
            padding: 5px 15px;
            border: none;
            border-radius: 5px;
            background-color: $color-grey;
            text-align: left;
        }

        //Personal styles for session page buttons
        button {
            font-size: 0.8rem;
            width: clamp(55px, 5%, 80px);
            margin-left: 20px;
        }
    }
}

.errors {
    margin-top: 10px;

    &__message {
        color: $color-red;
        font-size: 0.9rem;
    }
}