@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.ranking-page {
    max-width: 95%;
    margin: 0 auto 100px;

    .ranking-header {
        display: flex;
        justify-content: center;
        margin: 20px 0 40px;
        @include breakpoint-small-screen {
            display: none;
        }
    }

    .ranking-main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        @include breakpoint-small-screen {
            margin-top: 75px;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-evenly;
        }

        .ranking-notshared {
            display: flex;

            &__title {
                font-size: 1.5rem;
                font-weight: 700;
                color: $color-red;
            }
         
            &__text {
                text-align: center;
                font-size: 1.2rem;
                font-weight: 400;
                color: $color-blue;
            }
            
        }

        .container {
            width: 100%;
            margin-bottom: 20px;
            gap: 15px;
            @include breakpoint-small-screen {
                width: 30%;
                padding: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;
            }

            &__errors {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 10px;

                .error-message {
                    color:$color-red;
                    text-align: center;
                }
            }

            &__fields {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;

                .field {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;


                    label {
                        width: clamp(50px, 30%, 200px);
                    }

                    input, select {
                        width: clamp(100px, 70%, 500px);
                        padding: 5px 5px;
                    }
                }
            }
        }
    }
}