@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.header {
    height: 10vh;
    background-color: $color-red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    &__title {
        display: flex;
        align-items: center;
        gap: 20px;
        height: 100%;

        h1 {
            color:$color-white;
        }

        a { //It's the React Router Link
            height: 100%;
            display: flex;
            align-items: center;

            img {
                height: 75%;
                margin-left: 15px;
            }
        }
    }

    &__menu {
        display: flex;
        gap: 20px;
        align-items: center;

        .icon {
            cursor: pointer;
            transition: all 100ms ease-out;
            &:hover {
               color:$color-white-hover;
            }
        }
    }
}