@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.header {
    height: 10vh;
    background-color: $color-red;
    border-bottom: 1px solid $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    &__title {
        display: flex;
        align-items: center;
        height: 100%;

        h1 {
            color:$color-white;
        }

        img {
            height: 100%;
        }
    }

    &__logout {
        margin-right: 15px;

        i {
            font-size: 1.2rem;
            color: $color-white;
            cursor: pointer;
        }
    }
}