@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.header {
    height: 10vh;
    background-color: $color-red;
    border-bottom: 1px solid $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    &__title {
        display: flex;
        align-items: center;
        height: 100%;

        h1 {
            color:$color-white;
        }

        a { //It's the React Router Link
            height: 100%;
            display: flex;
            align-items: center;

            img {
                height: 70%;
                margin-left: 15px;
            }
        }
    }

    &__logout {
        margin-right: 15px;

        i {
            font-size: 1.3rem;
            color: $color-white;
            cursor: pointer;
        }
    }
}