//Global style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Fonts
//Headings
h1, h2, h3 {
    font-family: 'Montserrat', Arial, sans-serif;
}

//Content
p, a, label, button {
    font-family: 'Roboto' , Arial ,  sans-serif;
}