@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.performance-page {
    max-width: 95%;
    margin: 0 auto 100px; //100px to handle sticky menu and allow to scroll to the bottom of the page

    .performance-header {
        display: flex;
        justify-content: center;
        margin: 20px 0 40px;
    }

    .main-mobile {
        .sports-list {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
    }

    .main-desktop {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .sports-list {
            width: 40vw;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .sport {
                background-color: $color-grey;
            }

            .sport.clicked {
                background-color: $color-blue;

                h3 {
                    color: $color-white;
                }
            }
        }

        .sports-chart {
           width: 40vw;
           height: 40vh;

           .table-title{
               display: flex;
               justify-content: center;
           }
        }

        .table {
            display: flex;
            align-items: center;
            justify-content: center;
            

            .board {
                width: 60%;
                border-collapse: collapse;
                border-spacing: 0 10px;
                align-items: center;
        
                thead {
                    text-align: left;
                }
        
                thead tr {
                    background-color: $color-red;
                    border-bottom: 2px solid $color-white;
                }
        
                thead th {
                    color:$color-white;
                    text-align: center;
                }
        
                th, td {
                    padding: 10px 5px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                    font-size: 0.9rem;
                    text-align: center;
                }
        
                tbody tr {
                    background-color: $color-white;
                    text-align: center;
                }
        
                tbody tr:nth-child(2n+1) {
                    background-color: $color-grey;
                }
            }

        }
    }

    

   
}

