@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.performance-page {
    max-width: 95%;
    margin: 0 auto 100px; //100px to handle sticky menu and allow to scroll to the bottom of the page

    .performance-header {
        display: flex;
        justify-content: center;
        margin: 20px 0 15px;
    }

    .sports-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}