@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.session-page {
    max-width: 95%;
    margin: 0 auto 100px; //100px to handle sticky menu and allow to scroll to the bottom of the page

    .session-header {
        display: flex;
        justify-content: center;
        margin: 20px 0 40px;
        @include breakpoint-small-screen {
            display: none;
        }
    }
    
    main {
        @include breakpoint-small-screen {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
            margin-top: 150px;
        }
    }

    .calendar-container {
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        @include breakpoint-small-screen {
            width: 50%;
            margin-bottom: 0px;

            
        }
        
        
    }

    .agenda-container {
        @include breakpoint-small-screen {
            width: 50%;
        }
    }
  
}