@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.session-page {
    max-width: 95%;
    margin: 0 auto 100px; //100px to handle sticky menu and allow to scroll to the bottom of the page

    .session-header {
        display: flex;
        justify-content: center;
        margin: 20px 0 40px;
    }

    .calendar-container {
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    }

    .agenda-container {

        .agenda {
            position: relative;
            background-color: $color-grey;
            border-radius: 25px;
            max-width: 800px;
            margin: 0 auto;

            //Handle spirals on top of the agenda
            &__spirals {
                position: absolute;
                top: -15px;
                z-index: 10;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                @include breakpoint-tablet() {
                    top: -20px;
                }

                .spiral {
                    display: block;
                    width: 18px;
                    height: 30px;
                    border-radius: 10px;
                    background-color: grey;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    @include breakpoint-tablet() {
                        width: 25px;
                        height: 40px;
                    }
                }
            }

            &__header {
                position: relative;
                background-color: $color-red;
                border-radius: 25px 25px 0 0;
                display: flex;
                justify-content: center;
                padding: 32px 20px 20px;
                @include breakpoint-tablet() {
                    padding: 40px 20px 20px;
                }

                h3 {
                    color: $color-white
                }

                i {
                    position:absolute;
                    right: 15px;
                    font-size: 1.3rem;
                    color: $color-white;
                    cursor: pointer;
                    transition: all 100ms ease-out;
                    &:hover {
                        color: $color-white-hover;
                    } 
                }
            }

            &__sessions {
                padding: 20px;
                display: flex;
                flex-direction: column;
                
                gap: 20px;

                .session {
                    position: relative;
                    background-color: $color-white;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    padding: 20px;
                    

                    i {
                        position:absolute;
                        right: 10px;
                        font-size: 1.3rem;
                        cursor: pointer;
                        transition: all 100ms ease-out;
                        &:hover {
                            color: $color-black-hover;
                        }
                    }

                    &__title {
                        font-size: 1.2rem;
                        font-weight: bold;
                        margin-bottom: 15px;
                    }

                    &__desc {
                        font-size: 1rem;
                        margin-bottom: 30px;
                    }
                }

                .no-sessions{

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                
                }
            }
        }
    }
}

.react-calendar .session-active {
    border-radius: 0;
    background: $color-grey;
  }