@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.label {
    width: clamp(150px, 30%, 200px);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .field {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
    
            label {
                width: clamp(150px, 30%, 200px);
            }
    
            input, select {
                width: clamp(120px, 70%, 500px);
                background-color: $color-grey;
                border: 1px solid grey;
                padding: 5px 5px;
            }

            .checkbox {
                height: 20px;
            }


        }
    }

    &__buttons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}