@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.label {
    width: clamp(150px, 30%, 200px);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .field {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
    
            label {
                width: clamp(150px, 30%, 230px);
                font-size: 0.9rem;
            }
    
            input, select, textarea {
                width: clamp(120px, 70%, 500px);
                background-color: $color-grey;
                border: 1px solid grey;
                padding: 5px 5px;
            }

            .inputs-time {
                display: flex;
                gap: 10px;
                width: 70%;

                input { //Handle inputs when unit is time
                    width: clamp(35px, 35%, 250px);
                }
            }

            .checkbox {
                height: 20px;
                // margin-left: auto;
                display: inline-block;
            }

        }
    }

    &__errors {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;

        .error-message {
            color:$color-red;
            text-align: center;
        }
    }

    &__buttons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}